.sidebar {
    min-height: calc(100vh - 56px);
    background-color: black;
}

.sidebar .nav-link {
    margin-bottom: 8px;
    border-radius: 8px;
    transition: 0.2s;
    color: white;
}

.nav-link.active {
    background-color: blue;
    color: white;
}

.badge-libera {
    color: green;
}

.badge-occupata {
    color: red;
}